body {
    background-image: url("../assets/laketahoe.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    min-height: 100vh;
    
}

img {
    margin-right: 20px;
    margin-left: 20px;
}

p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14pt;
    margin-left: 2rem;
    margin-right: 2rem;

}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24pt;
    font-weight: bold;
    color: #2D9596;
}

.container {
    background-color: white;
}

.main_title {
    font-family: 'Open Sans', sans-serif;
    font-size: 30pt;
    font-weight: bold;
    color: #2D9596;
}

.resort_main {
    color: #86B6F6;
    font-family: 'Rubik Burned', system-ui;
    font-weight: bold;
    font-size: 42pt;
    margin-bottom: 4rem;
    text-decoration: none;
}

.p_links {
    color: #176B87;
    text-decoration: none;
    font-weight: bold;
}

#content {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#resort_links {
    margin-top: 2rem;
    margin-bottom: 2rem;
}