{% include "header.html" %}

    <section id="content">
        <div class="container">
            {% for name in resort_names %}
            <h2 class="d-flex flex-wrap justify-content-center"><a class="resort_main" href="{{url_for('resort', num = resort_names.index(name) )}}">{{ name }}</a></h2>
            {% endfor %}
            <p>This website was created using the <span><a class="p_links" href="https://openweathermap.org/api">OpenWeather 5 Day / 3 Hour Forecase API</a></span>. This API was chosen because it is free vs the One Call API. The weather information for the resorts listed displays weather conditions over five days in three hour increments. </p>
        </div>
    </section>

{% include "footer.html" %}